body{
    background-image: url(Imagen_de_Alejandro.jpeg);
    background-size: cover;
}
.Centrado{
    position: relative ;
    left: 700px;
}
#titulo{
    font-family:serif,"Times New Roman";
    font-style: normal;
    font-size: 130px;
}
#Nombres{
  font-family: fantasy,"Cottonwood";
  font-style: oblique;
  font-weight: 200;
  margin: 2px 380px;
  font-size: x-large;

}
.links{
   font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 70px;
    text-align: left;
    margin: 2px 50px;
}
a:link{
    color: #25261F;
}
a:visited{
color: #e76d1b;
}
a:hover{
color: #D9B07E;
}
a:active{
color: #A67E5B;
}
